<div class="edit-topBar">
  <input type="text" name="edit-guiderName" id="edit-guiderName" class="mainFont" value="<%= guider.name %>">
  <input type="text" name="edit-guiderDescription" id="edit-guiderDescription" class="mainFont" value="<%= guider.description %>">

  <div id="editor-publishButton">
      <div class="gl-buttonOutside">
        <div class="clearfix">
          <div class="gl-buttonInner">
            <div class="clearfix">
              <%= link_to("PUBLISH", new_guider_path, :class => "gl-buttonMain") %>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div id="edit-saveGuiderButton">Save</div>
  <%= link_to("View", g_path, :id => "edit-viewButton", :target => "_blank") %>
</div>


<div class="edit-stepBar">
  <div class="clearfix">
  <div id="edit-newStepButton"></div>
  <div class="edit-barSplitter"></div>
  <div id="edit-stepButtonsBar"></div>
  </div>
</div>

<div class="center">
  <div class="edit-pageContent">
    <div class="clearfix">
      <div id="edit-watchColumn">
        <h2 class="edit-h2">Watch</h2>
        <h3 class="edit-h3">Add link to your study materials - videos, images, albums, web articles, PDFs, google docs in share mode, ...</h3>
        <div class="edit-linkBox">
            <input type="text" name="stepLink" class="mainFont" id="edit-stepLink"><br>
            <div class="center">
                <div class="clearfix" id="edit-serviceBar">
                    <div class="edit-service" id="edit-service-google"></div>
                    <div class="edit-service" id="edit-service-youtube"></div>
                    <div class="edit-service" id="edit-service-vimeo"></div>
                    <div class="edit-service" id="edit-service-flickr"></div>
                    <div class="edit-service" id="edit-service-picasa"></div>
                    <div class="edit-service" id="edit-service-soundcloud"></div>
                    <div class="edit-service" id="edit-service-wordpress"></div>
                    <div class="edit-service" id="edit-service-wikipedia"></div>
                    <div class="edit-service" id="edit-service-slideslive"></div>
                    <div class="edit-service" id="edit-service-slideshare"></div>
                </div>
            </div>
          <div class="center edit-service-lightbar">
            <div class="clearfix">
              <div class="edit-service" id="edit-service-google-light"></div>
              <div class="edit-service" id="edit-service-youtube-light"></div>
              <div class="edit-service" id="edit-service-vimeo-light"></div>
              <div class="edit-service" id="edit-service-flickr-light"></div>
              <div class="edit-service" id="edit-service-picasa-light"></div>
              <div class="edit-service" id="edit-service-soundcloud-light"></div>
              <div class="edit-service" id="edit-service-wordpress-light"></div>
              <div class="edit-service" id="edit-service-wikipedia-light"></div>
              <div class="edit-service" id="edit-service-slideslive-light"></div>
              <div class="edit-service" id="edit-service-slideshare-light"></div>
            </div>
          </div>
        </div>
        <br><br>
        <h2 class="edit-h2">Note</h2>
        <h3 class="edit-h3">Add notes or explanation to this step. This helps viewer to recognize what he should do.</h3>
        <div id="edit-noteBox">
          <textarea name="stepDescription" class="mainFont" id="edit-stepDescription" maxlength="1024"></textarea>
        </div>
      </div>
      <div id="edit-thinkColumn">
        <h2 class="edit-h2">Think</h2>
        <div id="edit-questionSwitch">
            <div id="edit-switchOn">ON</div>
            <div id="edit-switchOff">OFF</div>
         </div>
        <h3 class="edit-h3">Please paste your question and answers, select correct answer. </h3>
        <div id="edit-thinkBox">
          <div class="clearfix">
              <textarea name="question" class="mainFont thinkInputText" id="edit-question">
                Your question
              </textarea>

                <input type="text" class="mainFont thinkInputText edit-answerField" name="answer1" id="edit-answer1">
                <input type="radio" name="edit-correctAnswer" class="edit-radio" id="edit-radio-answer1" value="1"><br>

                <input type="text" class="mainFont thinkInputText edit-answerField" name="answer2" id="edit-answer2">
                <input type="radio" name="edit-correctAnswer" class="edit-radio" id="edit-radio-answer2" value="2"><br>

                <input type="text" class="mainFont thinkInputText edit-answerField" name="answer3" id="edit-answer3">
                <input type="radio" name="edit-correctAnswer" class="edit-radio" id="edit-radio-answer3" value="3"><br>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    initEditor(<%= guider.id %>);
</script>