<!DOCTYPE html>
<html>
<head>
  <title>Guideler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300&subset=latin,latin-ext" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://slideslive.com/bundles/embedPresentation_1_1.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="userBar">
  <% if user_signed_in? %>
      User <%= current_user.email %> is logged
      <%= link_to("My Guiders", manage_all_path) %> &nbsp; &#124; &nbsp;
      <%= link_to("Create Guider", new_guider_path) %> &nbsp; &#124; &nbsp;
      <%= link_to("Logout", destroy_user_session_path, :method => :delete) %> &nbsp; &#124; &nbsp;



  <% else %>
      <%= link_to("Login", new_user_session_path) %>
  <% end %>
</div>


<%= yield %>

</body>
</html>
