<!DOCTYPE html>
<html>
<head>
  <title>Guideler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300&subset=latin,latin-ext" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://slideslive.com/bundles/embedPresentation_1_1.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
